body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #0f0f0f;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

* {
    color: white;
}

.calculator {
    background-color: #080808;
    width: 500px;
    height: 650px;
    border-radius: 10px;
    border: white 2px solid;
}

footer {
    margin-bottom: 20px;
    position: absolute;
    bottom: 0;
    width: 100%;
    font-weight: bolder;
    font-style: italic;
    text-align: center;
}